<div class='row well well-lg'>
    <div class='col-md-6'>
        <h2>The easy way to manage your association</h2>
        <p class='lead'>Caratarse provides a web application for easy managing an association, in particular the registration of its members.
            </br> What does "caratàrse" mean? It's a venetian term for "associate oneself".</p>
        <button type='button' class='btn btn-lg btn-default'>Free Trial</button>
        <button type='button' class='btn btn-lg btn-primary'>Subscriptions</button>
    </div>
    <div class='col-md-6 visible-md visible-lg'>
        <img src='images/association.png' width="40%" alt='Caratarse' />
    </div>
</div>
